.card {
  margin-bottom: 30px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 20px;

  grid-template-areas:
    'a a a a'
    'b c d d';

  .img {
    grid-area: a;
    max-width: 1000px;
    max-height: 600px;
    margin: 0 auto;
  }

  .address {
    grid-area: b;
    text-align: left;
  }

  .contact {
    grid-area: c;
    text-align: left;
  }

  .address,
  .contact,
  .nearby {
    font-size: 12px;

    p {
      padding: 5px 0;
    }
  }

  .nearby {
    grid-area: d;
    text-align-last: left;
    background-color: #fff;
    padding: 15px;
  }

  h3 {
    padding: 10px 0 25px;
    font-size: 24px;
  }
}

@media screen and (max-width: 1000px) {
  .card {
    margin-left: 15px;
    margin-right: 15px;
  }

  .img {
    width: 800px;
  }
}

@media screen and (max-width: 800px) {
  .card {
    grid-template-columns: 1fr;

    grid-template-areas:
      'a'
      'b'
      'c'
      'd';
  }

  .img {
    width: 600px;
  }

  .address,
  .contact,
  .nearby {
    margin: auto;
    text-align-last: left;
  }
}

@media screen and (max-width: 600px) {
  .img {
    width: 400px;
  }
}
