* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html {
  background-color: lightgrey;
}

.layout {
  background-color: #fff;
  text-align: center;
  padding: 25px 0;
}
